<hr>
<table>
  <tr>
    <td>Name</td> 
  </tr>
  </tr>
    <td><%= @noticeboard.name %></td>
  </tr>
  <tr>
    <td>Title</td> 
  </tr>  
  <tr>
    <td><%= @noticeboard.title %></td>
  </tr>
  <tr>
    <td>Content</td>
  </tr>
  <tr>
    <td><%= @noticeboard.content %></td>
  </tr>
</table>