<%= image_tag('whattheplace.PNG', :size => "760x600") %>
<br>
<h1>使用例 )</h1>
<hr>
<h2>1.</h2>
<a href ='https://www.google.co.kr/maps/place/%EC%9D%BC%EB%B3%B8/@32.693268,129.4043063,5z/data=!3m1!4b1!4m5!3m4!1s0x34674e0fd77f192f:0xf54275d47c665244!8m2!3d36.204824!4d138.252924?hl=ko' target="_blank"
><h3>GoogleMAPサイト移動(クリック)</h3></a>
<hr>
<h2>2.位置指定</h2>
<br>
<%= image_tag("song_map1.PNG", :size => "760x600") %>
<hr>
<h2>3.位置情報取得</h2>
<br>
<%= image_tag("song_map2.PNG", :size => "760x600") %>
<hr>
<h2>4.緯度、経度の情報を挿入</h2>
<%= image_tag("song_map3.PNG", :size => "760x600") %>