
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <%= image_tag "profile.png", :class => "img-fluid mb-5 d-block mx-auto" %>
        <h1 class="text-uppercase mb-0">여기는 index.html.erb 입니다.</h1>
     
        <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
      </div>
    </header>
