

    <!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>テクノロジー X 不動産</h1>
					<p><h3>世界を変わる革新技術</h3><br /><h3>安楽で極楽往生を目指す</h3></p>
					<ul class="actions">
					    <h3>安楽と世界に変革を</h3>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>不動産</h3>
							<p>複数写真，ビデオ登録が可能<br /> 現在は東京，大阪限定</p>
						</div>
						<div>
							<h3>テック</h3>
							<p>多様な条件の検索ができる。<br />利用者に満足感を与える</p>
						</div>
					</div>
					<div class="flex-item image fit round">
                      <%= image_tag("pic01.jpg") %>
					</div>
					<div class="flex-item right">
						<div>
							<h3>エーアイ</h3>
							<p>2030年サービス予定</p>
						</div>
						<div>
							<h3>対応</h3>
							<p>お問い合わせ昨日スタート<br />迅速な対応ができる。</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>安楽とは</h2>
					<figure>
					    <blockquote>
					        "世界のない、不動産ウェブサイトで利用者と不動産会社<br />両方に満足感を与えることができます。"
					    </blockquote>
					    <footer>
					        <cite class="author">総責任者</cite>
					        <cite class="company">ソン＿スグン</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag("pic02.jpg") %>
						</div>
						<div class="content">
							<h3>休暇ペンション</h3>
							<p>景色が美しいところ</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag("pic03.jpg") %>
						</div>
						<div class="content">
							<h3>背景</h3>
							<p>窓から山が見える美しいところ</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<%= image_tag("pic04.jpg") %>
						</div>
						<div class="content">
							<h3>イギリス建築</h3>
							<p>イギリスから来た美しい建築物件</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>株式会社　安楽</h2>
					<ul class="actions">
						<li>ソン_スグン</li>
						<li>18.12.11 ~ 19.1.20</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design TEMPLATED Unsplash</a>.
				</div>
			</footer>